.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 26px;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-size: 20px;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("//images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/6d9f8735a63c598ba23f0ec0/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/a466b6eee7555ed99a9adf60/bbef6c67-d065-15d8-00f7-04c4574b8bd9.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

.u-section-1 .u-icon-9 {
  height: 100%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-10 {
  height: 100%;
}

.u-section-1 .u-icon-11 {
  height: 100%;
}

.u-section-1 .u-icon-12 {
  height: 100%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 210px;
  width: 210px;
  background-image: url("//images02.nicepagecdn.com/c461c07a441a5d220e8feb1a/ebe810d3c12f5550b0cf6ac7/3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-13 {
  height: 100%;
}

.u-section-1 .u-icon-14 {
  height: 100%;
}

.u-section-1 .u-icon-15 {
  height: 100%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/woman4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-16 {
  height: 100%;
}

.u-section-1 .u-icon-17 {
  height: 100%;
}

.u-section-1 .u-icon-18 {
  height: 100%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/5man.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-19 {
  height: 100%;
}

.u-section-1 .u-icon-20 {
  height: 100%;
}

.u-section-1 .u-icon-21 {
  height: 100%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/woman7.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-22 {
  height: 100%;
}

.u-section-1 .u-icon-23 {
  height: 100%;
}

.u-section-1 .u-icon-24 {
  height: 100%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/happy-man-with-long-thick-ginger-beard-has-friendly-smile_273609-16616.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-9 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-25 {
  height: 100%;
}

.u-section-1 .u-icon-26 {
  height: 100%;
}

.u-section-1 .u-icon-27 {
  height: 100%;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/ddddddd.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-21 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-10 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-28 {
  height: 100%;
}

.u-section-1 .u-icon-29 {
  height: 100%;
}

.u-section-1 .u-icon-30 {
  height: 100%;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/5mant.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-11 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-31 {
  height: 100%;
}

.u-section-1 .u-icon-32 {
  height: 100%;
}

.u-section-1 .u-icon-33 {
  height: 100%;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  height: 210px;
  width: 210px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/518898/images/53.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-24 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-25 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-1 .u-social-icons-12 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-34 {
  height: 100%;
}

.u-section-1 .u-icon-35 {
  height: 100%;
}

.u-section-1 .u-icon-36 {
  height: 100%;
}

.u-section-1 .u-text-26 {
  margin: 20px auto 60px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 987px;
  }

  .u-section-1 .u-image-1 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    width: 77px;
  }

  .u-section-1 .u-image-2 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-social-icons-2 {
    width: 77px;
  }

  .u-section-1 .u-image-3 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-social-icons-3 {
    width: 77px;
  }

  .u-section-1 .u-image-4 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-social-icons-4 {
    width: 77px;
  }

  .u-section-1 .u-image-5 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-social-icons-5 {
    width: 77px;
  }

  .u-section-1 .u-image-6 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-social-icons-6 {
    width: 77px;
  }

  .u-section-1 .u-image-7 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
  }

  .u-section-1 .u-social-icons-7 {
    width: 77px;
  }

  .u-section-1 .u-image-8 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-social-icons-8 {
    width: 77px;
  }

  .u-section-1 .u-image-9 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-social-icons-9 {
    width: 77px;
  }

  .u-section-1 .u-image-10 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }

  .u-section-1 .u-text-21 {
    width: auto;
  }

  .u-section-1 .u-social-icons-10 {
    width: 77px;
  }

  .u-section-1 .u-image-11 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
  }

  .u-section-1 .u-social-icons-11 {
    width: 77px;
  }

  .u-section-1 .u-image-12 {
    height: 168px;
    width: 168px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
  }

  .u-section-1 .u-text-25 {
    width: auto;
  }

  .u-section-1 .u-social-icons-12 {
    width: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3007px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 2724px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-1 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-2 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-3 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-4 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-5 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-6 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-7 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-8 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-9 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-10 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-11 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-image-12 {
    height: 238px;
    width: 238px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}