.modal .u-image {
    height: 210px;
    width: 210px;
    background-position: 50% 50%;
    margin: 0 auto;
}

.modal .u-text-2 {
    font-size: 1.5rem;
    letter-spacing: normal;
    text-transform: capitalize;
    font-weight: 700;
    margin: 20px 0 0;
}

.modal .u-text-3 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
}

.modal .u-text-4 {
    font-weight: 500;
    font-size: 1.125rem;
    margin: 12px 0 0;
}